POSTGRES_USER=taskuser
POSTGRES_PASSWORD=change-me
POSTGRES_DB=taskdb

PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=change-me
PGADMIN_PORT=5050

API_PORT=3000
TELEGRAM_BOT_TOKEN=change-me
TELEGRAM_BOT_USERNAME=Simpletasktracker_bot
